<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=New budg, initial-scale=1.0">
    <title>edit a budget</title>
</head>
<body>
    <h1> Edit Budget</h1>
    <form action="/budgets/<%= budget._id%>?_method=PUT" method="POST">
        <Div>
            <label for="budget">enter budget</label>
            <input type="number" id= "budget" name="budget[budget]" value="<%= budget.budget %>">
            <!-- something wrong with the upper line  -->
            <!-- <input name="date" type="hidden" value=" Date()"> -->
        </Div>
        <button> update a budget</button>
        <p>    
            <a href="/budgets/<%= budget._id%>">back to budget</a>
        </p>
    </form>
</body>
</html>