<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=New budg, initial-scale=1.0">
    <title>Create a budget</title>
</head>
<body>
    <form action="/budget" method="POST">
        <Div>
            <label for="budget">enter budget</label>
            <input type="number" id= "budget" name="budget">
        </Div>
        <button> add a budget</button>
    </form>
    <a href="/"> main page</a>
</body>
</html>